<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Suite" >
 <parameter name="Bookname" value="Da Vinci code"></parameter>
  <parameter name="Item" value="iphone12"></parameter>
  <test name="Test">
    <classes>
      <class name="scenarios.Cases"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
